td{
	min-width:150px;
	text-align:center;margin-left:auto; margin-right:auto;
}
table{
	text-align:center;margin-left:auto; margin-right:auto;
}
tr{
	text-align:center;margin-left:auto; margin-right:auto;
}
body{
	background-color: #000000;
	background-image: url('background.jpg');
	background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center; 
}

.postDiv{
	border:double 5px #000000;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
}